
html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('BG.png');
  background-position: center top;
  background-size: cover;
  margin: 0;
}
.Logo {
  text-align: center;
    position: fixed;
    width: 40%;
}
.page-title {
  text-align: Right;
  font-weight: 400;
    font-size: 9px;
    margin-right: 60px;
}

.page-description {
    position: fixed;
  text-align: left;
  padding: 20px;
  font-size: 16px;
    width:270px;
    margin: 270px 0 0 20;
    color: black;
    font-weight:400;
    background: white;
    opacity: 0.6;
}

.text {
    display:relative;
  justify-content: right;
    text-align: right;
  margin-top: 40px;
margin-right: 100px;
    line-height: 3px;
}

.light {
font-family: 'Roboto+Slab', sans-serif;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0px;
    margin-left: 300px;
}

.gallery-item {
  margin: 0px;
}

.gallery-item .thumbnail {
  
    max-width: 300px;

}

/* FOOTER NAVIGATION */

nav {
  background-color: #FFF;
    border: 2px black solid;
}

nav li {
  margin: 0;
  padding: 0 10px;
  display: inline;
}

nav ul {
  display: inline;
}



.contact-btn {
  float: right;

}

.contact-btn a {
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;

}

.contact-btn a:active {
  position: relative;
  bottom: 2px;
}

nav a {
  height: 60px;
  line-height: 60px;
  color: #204156;
  text-decoration: none;
}

