/* level 3 div span padding border margin position display float top right bottom left hight width */
body {
    float: center;
    margin-top: 100px;
    margin: auto;
    width: 800px;
}

h1 {
    padding: 14px 0px;
    text-align: center
}

h2 {
    margin-top:30px;
    text-align: right;

}